# Ignora a pasta node_modules
node_modules/

# Ignora o arquivo do banco SQLite
*.db

# Ignora arquivos de log do npm
npm-debug.log*

# Ignora configurações do sistema/editor
.DS_Store
.env
*.env
.vscode/
